.service-banner{
    background: url(../../../images/banner6.jpg) no-repeat center;
    background-size: cover;
    padding-top:200px;
    padding-bottom:200px;
    position: relative;
}
.overlay-text-service {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background: rgba(0, 0, 0, 0.466);
}